.signup-button {
  width: 4.5rem !important;
  height: 2.5rem !important;
  margin-right: 2rem !important;
  background-color: #66FCF1 !important;
  border-radius: 5px !important;
  color: #0B0C10 !important;
  font-weight: 800;
  border: 1px solid #C5C6C7 !important;
}

.signup-button:hover {
  background-color: #5f8dc3 !important;
}
@media screen and (max-width: 768px) {
  .signup-button {
    width: 2.5rem !important;
    height: 1.5rem !important;
    margin-right: 1rem !important;

  }
}