.signup-button {
  width: 5rem !important;
  height: 2.8rem !important;
  margin-right: 2rem !important;
  background-color: #3c82c8 !important;
  border-radius: 5px !important;
}

.signup-button:hover {
  background-color: #5f8dc3 !important;
}
