@import "../../../../node_modules/@sl-codeblaster/react-3d-animated-card/dist/index.css";

.perjobliscard {
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 8rem;

}

.employer-logo {
    height: 13rem; 
    width: 90%; 
    object-fit: cover; 
  }
  .card2{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }